.vjs-overlay {
  width: auto !important;
  max-width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: top .5s;
  -webkit-transition: top .5s;
}

.vjs-overlay a {
  text-decoration: none;
}

.hide-overlay .vjs-overlay {
  top: -100px !important;
}
