.vjs-overlay {
  width: auto !important;
  max-width: 100% !important;
  right: 5px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.vjs-overlay a {
  text-decoration: none;
}

.hide-overlay .vjs-overlay {
  display: none;
}
